<!DOCTYPE html>
<html>
<head>
    <title>Szczegóły lekarza</title>
</head>
<body>
<h1>Szczegóły lekarza</h1>
<p>Imię: <%= doctor.imie %></p>
<p>Nazwisko: <%= doctor.nazwisko %></p>
<p>Specjalizacja: <%= doctor.spejalizacja %></p>
<p>Wiek: <%= doctor.wiek %></p>
<p>Email: <%= doctor.email %></p>
<a href="/doctors">Powrót do listy</a>
</body>
</html>
