<!DOCTYPE html>
<html>
<head>
    <title>Szczegóły lekarza</title>
</head>
<body>
<h1>Szczegóły lekarza</h1>
<p>Imię: <%= doctor.name %></p>
<p>Nazwisko: <%= doctor.surname %></p>
<p>Specjalizacja: <%= doctor.specialization %></p>
<p>Wiek: <%= doctor.age %></p>
<p>Email: <%= doctor.email %></p>
<a href="/doctors">Powrót do listy</a>
</body>
</html>
